<div class="text-light">

  <!-- Main display container -->
  <div class="container">
    <h1 class="display-1 text-center color-changing-text" style="color: rgba(255, 255, 255, 0.329);">Gabriel Tinoco</h1>
    <p class="lead text-center">Software engineering undergraduate, programmer, art and gaming enthusiast.</p>
    <hr class="lead-horizontal-divisor">
  </div>

  <!-- Site home introduction text -->
  <div class="container">
    <p class="text-center p-3">
      Welcome to my website! Here you can find all sorts of information about me, my projects, and my contact information.
      Also, I have a huge interest in topics such as music, art, and <b>especially</b> gaming, so I have some stuff related
      to these subjects over here as well. To get started, simply use the navbar to navigate to the desired page.
    </p>
  </div>
</div>
