<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- Photo and paragraph about me -->
  <div class="container" style="background-color: rgba(0, 255, 255, 0);">
    <div class="d-flex flex-row align-items-center">
      <img class="rounded-circle px-2" src="../../../assets/images/9c2704b2-d42d-476a-9472-a3f3270c3898.png" height="250px">
      <p class="px-2">
        Welcome to my website! Here you can find all sorts of information about me, my projects, and my contact information.
        Also, I have a huge interest in topics such as music, art, and <b>especially</b> gaming, so I have some stuff related
        to these topics over here as well. To get started, simply use the navbar to navigate to the desired page.
      </p>
    </div>
  </div>
</div>

