<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- My story content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="My Story">

    <!-- Paragraph and image -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Image -->
      <img class="rounded-circle m-3 w-25 h-100" src="../../../assets/images/9c2704b2-d42d-476a-9472-a3f3270c3898.png" height="300px">

      <!-- Paragraph -->
      <p class="m-3 w-75 mh-250px overflow-auto">
        I already browsed the internet since I was very young, but I properly started my journey in the software/hardware world when I was about 8 years old and
        got my first laptop. At first I was mostly interested in playing games (something I'm still very passionate till this day), but after some time I also uncovered
        the art of graphical design and video editing through YouTube, which became a huge part of what I would do the next couple of years. I taught myself how to edit
        images using Photoshop, post-processing on After Effects, editing on Sony Vegas, animation on Flash, and 3D modeling on Cinema 4D.<br><br>

        As I got older and more mature (about 10 to 13 years old), my parents also gifted me with my first proper desktop computer. This enabled me to not only further
        <s>fuel my gaming addiction</s> expand my previously mentioned graphical design skills, but it made me start getting into the more technical side of videogames
        and computers as well. I learned how to make game servers, simple scripting programs, what were JSON files, and how to make simple web pages using HTML and CSS.<br><br>

        As high school started, I dug deeper into the topic of coding, and made sure to take optional courses related to programming and hardware at my school. One thing lead
        to another, and as my secondary education came to a closing, I started learning Python and Java by myself. Currently I find myself studying both the backend and frontend
        technologies in college. Even though I find both programming paths very enjoyable, the skillset I've acquired throughout the years certainly makes the client side part
        of the process more fun, since it's a mix between graphical design and coding.<br><br>

        My name is Gabriel, I'm 20 years old, and a software engineering student at Centennial College. Nice to meet you!
      </p>
    </div>
  </div>
</div>

