
<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- (The carousel screenshots should be done in a 1000px x 977px browser window size, just for reference) -->
  <!-- Business contacts project content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="My Contact Information">

    <!-- Paragraph -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Paragraph -->
      <p class="m-3 mh-250px overflow-auto text-center w-100">
        If you would like to contact me (or check out my social media), here are a few ways to do so:<br><br>

        <a href="https://github.com/Gatinoko" style="color: white;"><i class="fab fa-github m-1"></i>Gatinoko</a><br>
        <a href="https://www.linkedin.com/in/gabriel-tinoco-831689189/?locale=en_US" style="color: white;"><i class="fab fa-linkedin-in m-1"></i>Gabriel Tinoco</a><br>
        <a href="mailto:gdiastin@my.centennialcollege.ca" style="color: white;"><i class="fas fa-envelope m-1"></i>gdiastin@my.centennialcollege.ca</a>
      </p>
    </div>
  </div>
</div>
