
<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- (The carousel screenshots should be done in a 1000px x 977px browser window size, just for reference) -->
  <!-- Business contacts project content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="My Contact Information">

    <!-- Paragraph and image -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Paragraph -->
      <p class="m-3 mh-250px overflow-auto">
        This was a website I made as part of a college assignment. It served as a portfolio to showcase my coding skills at the time as well as a place for me to store
        business contacts. This was the very first website I created which used REST and had a proper backend for storing data. A very standard approach to create web
        pages was used in this project, in the sense that no single page application framework (like Angular or React) was used, but instead routing was done through
        GET and POST requests. Even though this was a very tradicional (and somewhat outdated) way of creating websites, it served as a good exercise for me to understand
        and practice the basis of full-stack web development. <br><br>

        <b>Technologies used</b>: REST, Node, ExpressJS, PassportJS, EJS, MongoDB<br><br>

        <a href="https://github.com/Gatinoko/COMP225-Assignment2" style="color: white;"><i class="fab fa-github m-1"></i></a>
        <a href="https://comp225-assignment2.herokuapp.com/" style="color: white;"><i class="fas fa-link m-1"></i></a>
      </p>
    </div>
  </div>
</div>
