<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- My story content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="My Skills">

    <!-- Paragraph and image -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Image -->
      <img class="rounded-circle m-3 correct-image-sizing h-100" src="../../../assets/images/device programmingc9d35366e8754971851735db49a43acf.png" height="300px">

      <!-- Paragraph -->
      <p class="m-3 w-75 mh-250px overflow-auto">
        I have experience with <b>full-stack development</b> using JavaScript and similar technologies, like NodeJS, TypeScript, Angular, ExpressJS, Bootstrap.<br><br>

        On The back-end I'm comfortable working with Java, C#, and databases (relational and non-relational) such as Oracle SQL and MongoDB.<br><br>

        Also, I have knowledge of work tools like Jira, Git, GitHub, and Figma, and I'm extremely proficient with various design tools, such as Adobe Photoshop,
        Adobe After Effects, and Adobe Premiere.
      </p>
    </div>
  </div>
</div>
