<div class="text-light">

  <!-- Page header component -->
  <app-page-header></app-page-header>

  <!-- (The carousel screenshots should be done in a 1000px x 977px browser window size, just for reference) -->
  <!-- Business contacts project content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="Business Contacts Website">

    <!-- Paragraph and image -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Carousel -->
      <div class="m-3 h-100 w-carousel-sizing">
        <div id="contentCarousel1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner rounded">
            <div class="carousel-item active">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_home.png" class="d-block w-100" alt="Business contacts website home page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_about.png" class="d-block w-100" alt="Business contacts website about page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_projects.png" class="d-block w-100" alt="Business contacts website projects page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_services.png" class="d-block w-100" alt="Business contacts website services page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_contact.png" class="d-block w-100" alt="Business contacts website contact page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_login.png" class="d-block w-100" alt="Business contacts website login page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_users_business-contacts.png" class="d-block w-100" alt="Business contacts website business contacts page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/comp225-assignment2.herokuapp.com_users_business-contacts_update_6171879a58149731f39dcf63.png" class="d-block w-100" alt="Business contacts website update page">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#contentCarousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#contentCarousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Paragraph -->
      <p class="m-3 w-75 mh-250px overflow-auto">
        This was a website I made as part of a college assignment. It served as a portfolio to showcase my coding skills at the time as well as a place for me to store
        business contacts. This was the very first website I created which used REST and had a proper backend for storing data. A very standard approach to create web
        pages was used in this project, in the sense that no single page application framework (like Angular or React) was used, but instead routing was done through
        GET and POST requests. Even though this was a very tradicional (and somewhat outdated) way of creating websites, it served as a good exercise for me to understand
        and practice the basis of full-stack web development. <br><br>

        <b>Technologies used</b>: REST, Node, ExpressJS, PassportJS, EJS, MongoDB<br><br>

        <a href="https://github.com/Gatinoko/COMP225-Assignment2" style="color: white;"><i class="fab fa-github m-1"></i></a>
        <a href="https://comp225-assignment2.herokuapp.com/" style="color: white;"><i class="fas fa-link m-1"></i></a>
      </p>
    </div>
  </div>

  <!-- Bracketeams project content block -->
  <div class="container mb-5">

    <!-- Horizontal divider with text-->
    <hr class="standard-horizontal-divisor lead" data-content="Bracketeams Tournament Website">

    <!-- Paragraph and image -->
    <div class="d-flex flex-column flex-lg-row flex-sm-column align-items-center">

      <!-- Carousel -->
      <div class="m-3 h-100 w-carousel-sizing">
        <div id="contentCarousel2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner rounded">
            <div class="carousel-item active">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_home.png" class="d-block w-100" alt="Bracketeams website home page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_tournaments.png" class="d-block w-100" alt="Bracketeams website tournaments page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_login.png" class="d-block w-100" alt="Bracketeams website login page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_register.png" class="d-block w-100" alt="Bracketeams website register page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_register (1).png" class="d-block w-100" alt="Bracketeams website update page">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/centennial-tournament.herokuapp.com_register (2).png" class="d-block w-100" alt="Bracketeams website add page">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#contentCarousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#contentCarousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <!-- Paragraph -->
      <p class="m-3 w-75 mh-250px overflow-auto">
        The Bracketeams tournament website is a brackets website (similar to challonge.com) that I've done in conjunction with 5 other individuals as a lead software developer.
        This project was my first group experience in a software development environment, and it was quite challenging. We used the agile methodology, as well as Jira
        in oder to coordinate the workflow. For the front-end we used Angular, and for the back-end we used ExpressJS and MongoDB. Authentication and authorization was done
        using JWT.<br><br>

        <b>Technologies used</b>: REST, ExpressJS, MongoDB, JWT, Angular<br><br>

        <a href="https://github.com/Bracketeams/tournament" style="color: white;"><i class="fab fa-github m-1"></i></a>
      </p>
    </div>
  </div>
</div>
