/* HTML Elements */
body {
  margin: 0 0 150px 0;
  background-color: rgba(172, 172, 172, 0);
}

html {
  background: url(./assets/images/1314309.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* CSS classes */
hr.lead-horizontal-divisor {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
  margin-bottom: 50px;
  height: 2px;
}

hr.standard-horizontal-divisor {
  overflow: visible;
  height: 2px;
  padding: 0;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
  text-align: center;
}

hr.standard-horizontal-divisor::after {
  content: attr(data-content);
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: rgb(0, 0, 0);
  background-clip: border-box;
}

div.black-container {
  border-style: solid;
  border-color: rgb(20, 20, 20, 0.25);
  border-width: 2px;
  background-color: rgb(5, 5, 5, 0.5);
  border-radius: 5px;
}

.color-changing-text {
  background-image: linear-gradient(90deg, rgba(255,50,50,1) 0%, rgba(177,87,237,1) 33%, rgba(255,65,113,1) 66%, rgba(85,97,255,1) 100%);
  background-clip: text;
  background-size: 1000%;
  animation: text-fade-animation 30s linear infinite running;
}

.mh-250px {
  max-height: 250px;
}

.w-carousel-sizing {
  width: 25%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  animation: fade-animation 1s;
}

/* @media queries */
/*
Since I couldn't use a pre-made Bootstrap class that would let me make objects
appear on the screen once the mobile resolution was being used, I made this class.
*/
@media (min-width: 992px) {
  .appear-mobile-layout {
    display: none;
  }
}

@media (max-width: 991px) {
  .w-carousel-sizing {
    width: 75%;
  }
}


/* @keyframes animations */
@keyframes text-fade-animation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  110% {
    background-position: 0% 100%;
  }
}
